legend {
    font-size: 2em;
}

.block { display:block; }

li {
    border-bottom: 2px dashed #8ac;
    padding-left: 10px;
}

input {
    height: 2em;
    font-size: 1.5em;
}

.centered {
    text-align: center;
}